*{

    margin: 0;
    padding: 0;
}
header{
    background-color: white;
}
nav{
    display: flex;
}
.logo{
    width: 130px;
    display: flex;
    align-items: center;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
nav ul{
    position: absolute;
    left: 300px;
    height: 90px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
nav ul li{
    top: 60px;
    list-style: none;
    padding: 0 40px;
}
nav ul li a{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-decoration: none;
}
nav ul li a:hover{
    border: 0px;
    border-radius: 50px;
    color: beige;
}
.home{
    position: absolute;
    left: 100px;
}
.about{
    position: absolute;
    left: 400px;
}

.dropbtn{
    position: absolute;
    top: 1px;
    left: 950px;
    background-color: transparent;
    color: black;
    padding: 11px;
    font-size: 16px;
    border: none;
}
.dropdown{
    position: relative;
    display: inline;
}
.dropdown-content{
    border: 0px;
    border-radius: 5px;
    display: none;
    position: absolute;
    top: 40px;
    left: 990px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0.0.0.0.2);
    z-index: 1;
}
.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover{
    background-color: beige;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.dropdown:hover .dropbtn{
    background-color: transparent;
}
.image{
    position: absolute;
    left: 160px;
}
video{
    left: 0px;
}
.container{
    height: 90vh;
    width: 233px;
    margin: 30px;
    position: absolute;
    right: 160px;
    top: 300px;
    background-color: rgb(255,255,255);
    padding: 20px 40px;
    border-radius: 4px;
}
.container h1{
    text-align: center;
    margin-bottom: 30px;
}
.container a{
    text-align: center;
    text-decoration: none;
    color: rgb(138,106,118);
    padding-left: 124px;
    font-family: inherit;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
}
